---
interface Props {
    href: string;
    srcset: string;
    alt: string;
    titulo: string;
    subtitulo: string;
    texto: string;
    src: string;
    autor: string;
    altAutor: string;
    imgAutor: string;
    fecha: string;
    colorSub: string;
}

const {
    href,
    srcset,
    alt,
    titulo,
    subtitulo,
    texto,
    src,
    autor,
    altAutor,
    imgAutor,
    fecha,
    colorSub,
} = Astro.props;
---

<div class="cursor-pointer group">
    <div
        class="relative overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800 hover:scale-105 aspect-square"
    >
        <a href={href}>
            <picture>
                <source
                    type="image/jpg"
                    srcset={srcset}
                    sizes="(max-width: 640px) 90vw, 480px"
                />
                <img
                    alt={alt}
                    src={src}
                    loading="lazy"
                    decoding="async"
                    class="w-full h-full rounded-md"
                />
            </picture>
        </a>
    </div>
    <a href="#">
        <span class={colorSub}>
            {subtitulo}
        </span>
    </a>

    <h2
        class="mt-2 text-lg font-semibold tracking-normal text-brand-primary white:text-black"
    >
        <a href={href}>
            <span
                class="bg-gradient-to-r from-green-200 to-green-100 dark:from-emerald-300 dark:to-green-50 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]"
            >
                {titulo}
            </span>
        </a>
    </h2>
    <div class="hidden">
        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 line-clamp-3">
            <a href={href}>{texto}</a>
        </p>
    </div>
    <div
        class="flex items-center mt-3 space-x-3 text-gray-500 dark:text-gray-400"
    >
        <div class="flex items-center gap-3">
            <div class="relative flex-shrink-0 w-5 h-5">
                <img
                    alt={altAutor}
                    class="rounded-full"
                    width="40"
                    height="40"
                    src={imgAutor}
                    loading="lazy"
                    decoding="async"
                />
            </div>
            <span class="text-sm">{autor}</span>
        </div>
        <span class="text-xs text-gray-300 dark:text-gray-600"> &bull;</span>
        <time
            class="text-sm"
            datetime="Tue Dec 27 2022 11:39:36 GMT+0000 (Coordinated Universal Time)"
        >
            {fecha}
        </time>
    </div>
</div>
